
body{
    background: url(image1kus.png);
    background-repeat: no-repeat;
    background-size: cover;
}   

h1{
    color: white;
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}

p{
    color: white;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
